.navItem {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  color: #ffc728;
  z-index: 1;
  cursor: pointer;
}

.bee {
  position: absolute;
  top: -0.75rem;
  left: -1rem;
  width: 1rem;
  height: 1rem;
}

.bee img {
  width: 100%;
  height: auto;
}
