.barchartContainer {
    display: grid;
    place-items: center;
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: #ffc628;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

