.chartContainer {
    display: grid;
    place-items: center;
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: #ffc628;
    left: 25%;
    top: 20%;
    transform: (-50%);
    resize: both;
    overflow: hidden;
}

.welcomeContainer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    z-index: 1;
    background-color: #1c1c1cd0;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.chartCountry {
    width: 100%;
    text-align: center;
    color: #303030;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.3rem;
    color: #303030;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .chartContainer {
        width: 80%;
        height: 40%;
        left: 10%;
        top: 30%;
    }
}
