.chartContainer {
    display: grid;
    place-items: center;
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: #ffc628;
    left: 25%;
    top: 20%;
    transform: (-50%);
    resize: both;
    overflow: hidden;
}

.chartCountry {
    width: 100%;
    text-align: center;
    color: #303030;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.3rem;
    color: #303030;
    cursor: pointer;
}

