.filterContainer {
    position: absolute;
    right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    height: 9rem;
    width: 11rem;
    color: #fff;
    background-color: #1c1c1cd0;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

.label {
    display: inline-block;
    width: 50%;
    font-size: 0.9rem;
}

.select {
    background-color: #ffc628;
    font-weight: 600;
    color: #303030;
    border: none;
    width: 50%;
    margin-bottom: 0.5rem;
}

.select option {
    font-weight: 600;
}

.chartFilter h3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 0.3rem;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.iconButton {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #ffc628;
    cursor: pointer;
}

.icon {
    pointer-events: none;
    font-size: 2rem;
    height: 100%;
    color: #2861ff;
}
